
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}
<div class="container text-danger">
    <h3>Błąd w programie:</h3>
    <hr />
    <h3>@ViewBag.ErrMessage</h3>
</div>

